.nav {
  position: fixed; /* fixed는 width값 필수 */
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  color: white;
  background-color: #dc5d46;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 10px;
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.5s;
}
